name: 'Validate and Execute TF and Ansible'
on:
  push:
    branches:
      - master
jobs:
  runplans:
    name: 'Apply Plans, Run Playbooks'
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2
      - name: 'Run Init on 01'
        run: cd terraform/01-create-s3-bucket && terraform init
        env:
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          TF_VAR_BUCKET_NAME: ${{ secrets.TF_VAR_BUCKET_NAME }}
      - name: 'Run Plan on 01'
        run: cd terraform/01-create-s3-bucket && terraform plan
        env:
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          TF_VAR_BUCKET_NAME: ${{ secrets.TF_VAR_BUCKET_NAME }}
      - name: 'Run Init on 02'
        run: cd terraform/02-configure-rubrik-archive-s3 && terraform init
        env:
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          TF_VAR_BUCKET_NAME: ${{ secrets.TF_VAR_BUCKET_NAME }}
          TF_VAR_CDM_NODE_IP: ${{ secrets.TF_VAR_CDM_NODE_IP }}
          TF_VAR_CDM_USERNAME: ${{ secrets.TF_VAR_CDM_USERNAME }}
          TF_VAR_CDM_PASSWORD: ${{ secrets.TF_VAR_CDM_PASSWORD }}
          TF_VAR_AWS_ACCESS_KEY: ${{ secrets.TF_VAR_AWS_ACCESS_KEY }}
          TF_VAR_AWS_SECRET_KEY: ${{ secrets.TF_VAR_AWS_SECRET_KEY }}
          TF_VAR_KMS_ID: ${{ secrets.TF_VAR_KMS_ID }}
      - name: 'Run Plan on 02'
        run: cd terraform/02-configure-rubrik-archive-s3 && terraform plan
        env:
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          TF_VAR_BUCKET_NAME: ${{ secrets.TF_VAR_BUCKET_NAME }}
          TF_VAR_CDM_NODE_IP: ${{ secrets.TF_VAR_CDM_NODE_IP }}
          TF_VAR_CDM_USERNAME: ${{ secrets.TF_VAR_CDM_USERNAME }}
          TF_VAR_CDM_PASSWORD: ${{ secrets.TF_VAR_CDM_PASSWORD }}
          TF_VAR_AWS_ACCESS_KEY: ${{ secrets.TF_VAR_AWS_ACCESS_KEY }}
          TF_VAR_AWS_SECRET_KEY: ${{ secrets.TF_VAR_AWS_SECRET_KEY }}
          TF_VAR_KMS_ID: ${{ secrets.TF_VAR_KMS_ID }}
      - name: Change to Ansible directory and clone Ansible Repo
        run: cd ansible && git clone https://github.com/rubrikinc/rubrik-modules-for-ansible.git
      - name: Stage Ansible files
        run: cd ansible/rubrik-modules-for-ansible/ && cp -R rubrikinc ../.. && cp ansible.cfg ../..
      - name: Check syntax
        run: ansible-playbook --verbose --syntax-check ansible/*.yaml